/* Add your custom extension styling here */
.chatLog{
   color: black;

}
.chatType{
    color: black;
    font-weight: bold;
}
.ai-entry {
    width: 250px;
    height: 20px !important;
    border-radius: 100px;
  }
.clear-button {
    width: 24px;
}
.copy-button {
    width: 24px;
}
.m-w-100{
    max-width: 1800px;
    text-wrap: wrap;
}
.chat-scroll-section {
    max-height:800px;
}
.gemini-icon {
    background-image: url("assets/gemini.png");
    background-size: 45px;
    width: 45px;
    height: 30px;
    padding: 10px;
}
.settings-icon {
    /*background-image: url("assets/settings.png");
    background-size: 20px;*/
    width: 15px;
    height: 15px;
    color: var(--headerbar-fg-color);
}
.trash-icon {
    /*background-image: url("assets/trashcan.png");
    background-size: 30px;*/
    width: 20px;
    height: 20px;
   
}